.rim{
    height: auto;
    width: 300px;

}
.head{
    color: blue;

}
.des{
      color: rgb(187, 255, 0);
}
.CL{
    color: brown;
    
}
.tf{
    color: chartreuse;

}
.if{
    color: aqua;
}
.ST{
    color: yellowgreen;
}