.GB{
    color: blue;
    font-family: 'Times New Roman', Times, serif;

}
.des{
    color :blueviolet
}
.pa{
    color: coral;
}
.rm{
    color: royalblue;
}
.yu{
    color:crimson ;
}
.sp{
    color: darkgoldenrod;
}