.cm{
    color: blue;
}
.im{
    height: auto;
    width: 400px;
}
.des{
    color: blueviolet;
}
.yu{
    color: coral;
}
.po{
    color: chartreuse;
}
.yi{
    color: cornflowerblue;
}
.op{
    color: darkgreen;
}